<html>

<head>
    <meta charset="utf-8" />
    <style>
        body {
            width: 100%;
            height: fit-content;
        }

        .ticket {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            font-family: Roboto;
            margin: 16px;
            border: 1px solid #e0e0e0;
            position: relative;
            height: fit-content;
        }

        .ticket:before {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            position: absolute;
            transform: rotate(-45deg);
            left: -18px;
            top: 50%;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket:after {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            position: absolute;
            transform: rotate(135deg);
            right: -18px;
            top: 50%;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket--start {
            padding: 24px;
            position: relative;
            border-right: 1px dashed #e0e0e0;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            height: fit-content;
        }

        .ticket--start:before {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            position: absolute;
            transform: rotate(-45deg);
            left: -18px;
            top: -2px;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket--start:after {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            transform: rotate(-45deg);
            left: -18px;
            top: 100%;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket--center--row {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .ticket--center--row:not(:last-child) {
            padding-bottom: 48px;
        }

        .ticket--center--row:first-child span {
            color: #4872b0;
            text-transform: uppercase;
            line-height: 24px;
            font-size: 13px;
            font-weight: 500;
        }

        .ticket--center--row:first-child strong {
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .ticket--center--col {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            width: 50%;
            box-sizing: border-box;
            -webkit-box-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .ticket--center--col:not(:last-child) {
            padding-right: 16px;
        }

        .ticket--end {
            padding: 24px;
            background-color: #4872b0;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            position: relative;
        }


        .ticket--end:before {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            position: absolute;
            transform: rotate(-45deg);
            left: -18px;
            top: -2px;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket--end:after {
            content: '';
            width: 32px;
            height: 32px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            transform: rotate(-45deg);
            left: -18px;
            top: 100%;
            margin-top: -16px;
            border-radius: 50%;
        }

        .ticket--end>div:first-child {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }

        .ticket--end>div:first-child>img {
            width: 128px;
            padding: 4px;
            background-color: #fff;
        }

        .ticket--end>div:last-child>span {
            display: block;
            margin: 0 auto;
            filter: brightness(0) invert(1);
            font-weight: 800;
            font-size: x-large;
            text-align: center;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
        }

        .ticket--info--title {
            text-transform: uppercase;
            color: #757575;
            font-size: 13px;
            line-height: 24px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ticket--info--subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #4872b0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ticket--info--content {
            font-size: 13px;
            line-height: 24px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <div class="ticket">
        <div class="ticket--start">
            <div class="ticket--center--row">
                <div class="ticket--center--col">
                    <span>Your ticket for</span>
                    <strong>
                        <%=name%>
                    </strong>
                </div>
            </div>
            <div class="ticket--center--row">
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Date and time</span>
                    <span class="ticket--info--subtitle">
                        <%=date%>
                    </span>
                    <span class="ticket--info--content">
                        <%=time%>
                    </span>
                </div>
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Location</span>
                    <span class="ticket--info--subtitle">Location name</span>
                    <span class="ticket--info--content">
                        <%=location%>
                    </span>
                </div>
            </div>
            <div class="ticket--center--row">
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Ticket type</span>
                    <span class="ticket--info--content">Event category</span>
                </div>
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Order info</span>
                    <span class="ticket--info--content">Order #<%=transaction_id%>.</span>
                </div>
            </div>
        </div>
        <div class="ticket--end">
            <div><img src="<%=qr_code%>"></div>
            <div><span>uevent</span></div>
        </div>
    </div>
</body>

</html>