<html>

<head>
    <meta charset="utf-8" />
    <style>
        .ticket {
            display: flex;
            font-family: Roboto;
            margin: 16px;
            border: 1px solid #e0e0e0;
            position: relative;
        }

        .ticket--start {
            position: relative;
            border-right: 1px dashed #e0e0e0;
        }

        .ticket--center {
            padding: 24px;
            flex: 1;
        }

        .ticket--center--row {
            display: flex;
        }

        .ticket--center--col {
            display: flex;
            flex: 1;
            width: 50%;
            box-sizing: border-box;
            flex-direction: column;
            padding-right: 16px;
        }

        .ticket--end {
            padding: 24px;
            background-color: #4872b0;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .ticket--info--title {
            text-transform: uppercase;
            color: #757575;
            font-size: 13px;
            line-height: 24px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ticket--info--subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #4872b0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ticket--info--content {
            font-size: 13px;
            line-height: 24px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body class="ticket">
    <div>
        <div class="ticket--center" style="flex: 1;">
            <div class="ticket--center--row" style="padding-bottom: 48px;">
                <div class="ticket--center--col">
                    <span
                        style="color: #4872b0; text-transform: uppercase; line-height: 24px; font-size: 13px; font-weight: 500;">Your
                        ticket for</span>
                    <strong style="font-size: 20px; font-weight: 400; text-transform: uppercase;">
                        <%=name%>
                    </strong>
                </div>
            </div>
            <div class="ticket--center--row" style="padding-bottom: 48px;">
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Date and time</span>
                    <span class="ticket--info--subtitle">
                        <%=date%>
                    </span>
                    <span class="ticket--info--content">
                        At <%=time%>
                    </span>
                </div>
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Location</span>
                    <span class="ticket--info--content">
                        <%=location%>
                    </span>
                </div>
            </div>
            <div class="ticket--center--row">
                <div class="ticket--center--col">
                    <span class="ticket--info--title">Ticket type</span>
                    <span class="ticket--info--content">
                        type
                    </span>
                </div>
                <div class="ticket--center--col" style="padding-right: 0px;">
                    <span class="ticket--info--title">Order info</span>
                    <span class="ticket--info--content">Order #<%=transaction_id%>.</span>
                </div>
            </div>
        </div>
        <div class="ticket--end">
            <div><img src="data:image/png;base64,<%=qr_code%>"
                    style="width: 128px; padding: 4px; background-color: #fff; display: block; margin: 0 auto; filter: brightness(0) invert(1);">
            </div>
        </div>
    </div>
</body>

</html>